USE [DboTicariOtomasyon]
GO
/****** Object:  StoredProcedure [dbo].[MUSTERIHAREKETLERI]    Script Date: 19.10.2022 06:56:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[MUSTERIHAREKETLERI]
As
Select HAREKETID,URUNAD,TBL_MUSTERIHAREKETLER.ADET,
(TBL_PERSONELLER.AD +' '+ TBL_PERSONELLER.SOYAD)AS PERSONEL,
(TBL_MUSTERILER.AD +' '+ TBL_MUSTERILER.SOYAD) AS MUSTERI,FIYAT,TOPLAM,FATURAID
From TBL_MUSTERIHAREKETLER
inner join TBL_URUNLER on
TBL_URUNLER.ID=TBL_MUSTERIHAREKETLER.URUNID
inner join TBL_PERSONELLER on
TBL_PERSONELLER.ID=TBL_MUSTERIHAREKETLER.PERSONEL
inner join TBL_MUSTERILER on
TBL_MUSTERILER.ID=TBL_MUSTERIHAREKETLER.MUSTERI